$header-color: #3498db;
$button-color: #0070cc;
$color-white: #ffffff;
$color-background: rgba(10, 10, 10, 0.5);
$medium-radius: 5px;

$small: 576px;
$medium: 768px;
$large: 992px;
$x-large: 1200px;
$xx-large: 1900px;
