$primary-color: #3498db;
$secondary-color: #2ecc71;

$color-white: #ffffff;

$dark: #212121;
$light: #efefef;
$color: #b3e5fc;

$value: 1px;
$value-minus: -1px;

$value-two: 1px;
$value-two-minus: -1px;
